/* ceci est un commentaire */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: lightblue;   
    margin: 0;  
    padding: 0; 
}
body{
    background-color: rgb(159, 200, 156);
    font-family: Verdana, sans-serif;
    font-size: 100%;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin:  0;
}

header nav ul a {
    background-color: hwb(33 84% 2%);
    border: 1px solid rgb(112, 73, 73);
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
}
h1 {
    font-size: 5rem;
    color: rgb(0, 128, 45);
    text-align: center;

}
h2 {
    font-size: 150;
    color:black;
    padding-left: 15px;
}
p, ul, li {
color: black;
}
a:link {
    color: green;
    text-decoration: underline;
}

img{

    width: 100px;
}
img.medium-size {
    width: 100px;
}