/* ceci est un commentaire */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: lightblue;      
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin:  0;
}

header nav ul a {
    background-color: antiquewhite;
    border: 1px solid gray;
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
}
h1 {
    font-size: 5rem;
    
}
img{

    width: 100px;
}
img.medium-size {
    width: 100px;
}
